$green: rgb(178, 163, 51);
$purple: rgb(69, 13, 28);
$red: rgb(198, 74, 54);
$orange: rgb(227, 110, 49);
$blue: rgb(50, 103, 137);

@mixin circle ($color){
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: $color;
    position: relative;
    
}

@mixin square ($color){
    width: 200px;
    height: 150px;
    margin: 0 auto;
    background-color: $color;
}

@mixin triangle ($color) {
    width: 0; 
    height: 0; 
    margin: 0 auto;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid $color;


}

.expandable {
    width: 100px;
    transition: all 1s ease;

}

.input {

margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;

}

.box {
    width: 200px;
    height: 0;
    overflow: hidden;
    margin: 100px auto;
    background: blue;
    -webkit-transition: all 1s ease;

 }

 .activate-box {
    color: rgb(177, 83, 48);
    -webkit-transition: all 1s ease;
 }

 
.active {
    height: 350px;
    padding: 20px;

} 
 
body {
    width: 960px;
    margin: 0 auto;
    background: rgb(216, 200, 164);
}

.container {
    width: 960px;
    margin: 0 auto;
    background: rgb(219, 222, 203);
    border: 1px solid $orange;
    border-radius: 10px;
}

.title {
    width: 750px;
    height: 250px;
    padding: 60px;
    margin: 0 auto;
}
 
 // example 1
.round {
    @include square($orange);

&.change {
    @include circle ($green);
    -webkit-transition: all 1s ease;
}
}

// example 2
.here{
    @include square ($green);
    font-size: 25px;
    line-height: 150px;
    text-align: center;
    color: $purple;
    -webkit-transition: ease 2s;

&.gone {
    width: 0;
    height: 0;
    font-size: 0;
}
}


// example 3
.spin {
    @include square ($red);
    -webkit-transition: all 1s;

&.move {
    width: 300px;
    height: 300px;
    -webkit-transform:rotate(360deg);

}
}

// example 4

.up {
    @include triangle ($blue);
    -webkit-transition: all 2s;
}

.light {
    @include triangle (rgb(141, 201, 240));
}

// example 5
.disappear {
    @include square ($orange);
    -webkit-transition: all ease 3s;

&.poof {
    height: 0;
    width: 0;

}
}

// example 6

.roof {
    @include triangle ($green);
}

.house {
    position: relative;
    @include square ($blue);
}

.door {
    height: 75px;
    width: 45px;
    background-color: #e36e31;
    border: 1px solid #b2a333;
    position: absolute;
    margin: 0 auto;
    top: 73px;
    left: 75px;   
}

.window {
    height: 0px;
    width: 0px;
    -webkit-transition: all 1s;


&.window-show {
    height: 50px;
    width: 50px;
    position: relative;
    left: 25px;
    background-color: yellow;
}

}

// example 7

.series {
    @include circle ($green);
    display: inline-block;
    &.boxshadow {
        box-shadow: 10px 1px 10px $red;
    }
    &.shadow {
        box-shadow: inset 1px 1px 50px $red;
    }
}

.button{
    width: 150px;
    height: 50px;
    margin: 0px auto;
}

.slide {
    @include square ($blue);
}

.focus {

    margin: 50px auto;
    font-size: 24px; 
    padding-right: 100px;
}

.row {
    @include square ($red);
    display: inline-block;
    color: $blue;
     margin: 9px;
     text-align: center;

    &.toggle {
        background-color: $purple;
        color: $green;
    }
    &.colors {
        background-color: $orange;
    }
    &.toggletwo {
        width: 100px;
        height: 50px;
    }
    &.togglethree {
        @include triangle ($red);
    }

}

.error {
    @include circle ($orange);
    display: inline-block;
    text-align: center;
    line-height: 150px;
}

.buttons {
    @include circle ($blue);
    display: inline-block;
    margin: 9px;
    border: 2px solid $red;

}

.boxes {
    @include square ($green);
    display: inline-block;
    
    

    &.borders {
        border: 3px dotted $purple;

    }
    &.background {
        background-color: $purple;
    }

}

.sphere {
    @include circle ($blue);

    &.change {
        border-radius: 0px;
        background-color: $red;
    }

}

.texting {
    @include square ($green);
    color: $red;
    font-size: 20px;

}

.ball {
    @include circle ($orange);
    line-height: 130px;
    margin: 20px 30px 10px;
    bottom: 150px;

    &.bounce {
        bottom: 0px;
        -webkit-transition:cubic-bezier(0, 0, 0.58, 1);
    }

}

.cubes {
    @include square ($red);

    &.floating {
         box-shadow: (8px 10px 2px 0px ($blue));
    }
}

.text {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    height: 25px;
    width: 100px;
    border-radius: 6px;
    box-shadow: inset 0px 2px 2px gray;

    &.white {
        background-color: white;

    }
    &.yellow {
        background-color: yellow;
    }
}


